/*  your css code here. If applicable */
table {
  border-collapse: separate; /* allow border-radius */
  border-spacing: 8px;        /* space between cells */
}

th, td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-align: left;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
